@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}
 
body, html {
    background-color: #733224;
}

header {
    background-color: #F9DCC4;
}

h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: #56261B;
} 

h4 {
    color: #411D14;
}

.topico {
    padding: 20px;
}

i#burguer {
    background-color: #733224;
    color: #F9DCC4;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: #733224;
    color: #F9DCC4;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #F9DCC4;
    color: #733224;
    font-weight: bold;
    border-bottom: 0 0 10px 10px;
    border: 2px solid #733224;
}

menu > ul > li a:hover {
    background-color: #733224;
    color: #F9DCC4;
    font-weight: lighter;
}  

main {
    width: 90vw;
    background-color: #F9DCC4;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #411d14;
}  

article > h2 {
    color: #411D14;
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}